**/target/ 
**/*.class 
**/*.jar 
**/*.war 
**/*.ear 
*.log 
.vscode/ 
*.code-workspace 
.idea/ 
*.iml
*.iws 
*.ipr 
out/ 
.classpath 
.project 
.settings/ 
bin/ 
.DS\_Store 
Thumbs.db 
tmp/ 
/workspace/scratch/